*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;  
    
  }

nav {
    color: #fff;
    margin: 20px ;
    text-decoration: none;
}


a{
    color: #fff;
    margin: 20px;
    text-decoration: none;
    justify-content: space-around;
    transition: background-color 0.5 ease;
    padding: 30px;
    border-radius: 6px;
    transition: .6s all ease;
}
a:hover{
    background-color: #636161 ;

}

main {
    padding: 20px;
}

.members, .gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}
.members article img{
    border-radius: 50px;
    transition: transform 0.3s;
}
.members article img:hover{
    transform: scale(1.05);
}
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
  }
  
  .dark-mode {
    --bg-color: #121212;
    --text-color: #ffffff;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
   margin-top: 500px;
   

}
